<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GunStockCheck.My.MySettings.whldata" connectionString="server=192.168.1.86;user id=appuser;password=apppassword;persistsecurityinfo=True;database=whldata"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>